{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>7 Day outlook</h1>
<table class="weatherBlock" style="width:100%;border: 1px solid black;" >
    <tr>
        {% for day in forecast %}
        <td>
            <div class="weatherBlock">
                <h6>{{ day['date'] }}</h6>
                <img class="weatherCondition" src="http:{{day['day']['condition']['icon']}}">
                <h7>{{ day['day']['maxtemp_f']}}<span>&#8457;</span>/{{ day['day']['mintemp_f']}}<span>&#8457;</span></h7>
            </div>

        </td>
        {% endfor %}
    </tr>
</table>

<h6 style="text-align:center;">{{location['name']}}</h6>
{% endblock %}
